In [73]:
import numpy as np
import pandas as pd

In [74]:
df=pd.read_csv("analysis_id.csv")
df.head(10)

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.585200,0.585200,0.585200,0.5852,0.585200,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.339450,0.348750,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.960000,0.960000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.344100,0.348750,0.346425,NaN,NaN,NaN,NaN,NaN
5,5,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-3,300x250,pulsepoint,...,1413.0,0.48020,0.480200,0.480200,0.480200,NaN,NaN,NaN,NaN,NaN
6,6,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Responsive-B,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Responsive-T,728x90,pubmatic,...,4823.0,NaN,0.244400,0.272600,0.263200,NaN,NaN,NaN,NaN,NaN
8,8,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-SideBar-1,300x250,onemobile,...,2064.0,NaN,1.036109,1.036109,1.036109,NaN,NaN,NaN,NaN,NaN
9,9,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-SideBar-T,300x600,onemobile,...,1896.0,NaN,0.709107,0.709107,0.709107,NaN,0.709107,NaN,NaN,NaN

In [75]:
df.columns

Index(['Unnamed: 0', 'date_hour', 'client', 'device_type', 'time_zone',
       'os_name', 'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range',
       'media_type', 'request_count', 'response_count', 'prebid_win_count',
       'win_count', 'sum_bid', 'sum_time_to_respond', 'median', 'min_bid',
       'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [76]:
features=["bidder", "response_count","prebid_win_count"]
df=df[features]
df.head(10)

       bidder  response_count  prebid_win_count
0   onemobile               4               1.0
1   rhythmone               3               NaN
2   undertone               1               NaN
3                           0               NaN
4   rhythmone               2               NaN
5  pulsepoint               1               NaN
6                           0               NaN
7    pubmatic               3               NaN
8   onemobile               1               NaN
9   onemobile               1               1.0

In [77]:
df.isna().sum()

bidder                 0
response_count         0
prebid_win_count    3833
dtype: int64

In [79]:
df["prebid_win_count"]=df["prebid_win_count"].fillna(0)
df.isna().sum()

bidder              0
response_count      0
prebid_win_count    0
dtype: int64

In [67]:
summary = (df.groupby("bidder").agg(wins=("prebid_win_count","sum"), total_bid=("response_count","sum"))).reset_index()
summary["win_rate"]=round(((summary["wins"])/(summary["total_bid"])*100),3).sort_values(ascending=False)

In [68]:
summary=summary[1:]
summary=summary.sort_values(["win_rate"], ascending=False)

In [69]:
summary.head(2)

       bidder   wins  total_bid  win_rate
17  undertone   52.0        104    50.000
15      teads  323.0        700    46.143

In [72]:
df.head(5)

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

Part 1: Describe how you would build a logistic regression model to predict the probability of a bid winning (win) based on the other columns. What features would you select and why?


Answer:

 Using Logistic Regression:

1. EDA, Feature engineering and Feature selection
2. if any categorical feature is there and they have numerical or continuous value then we need to encode these independent features using one hot encoding or label encoding etc.
3. split dataframe/dataset into three parts train, valid, test using sklearn_model_selection splitter or custom spliter.
4. hyperparameter tunning to get best hyperparameters like max_iter, threshhold using grid search or optuna etc.
5. Train the LogisticRegression model.
6. For Accuracy we can use roc_auc, confusions matrix, f1_score as this is the binary classification problem.

keep all the experiments artifacts, model, accuracy in any storage like azure blob storage etc using MLFlow.


Features i think contribute in target feature:
sum_time_to_respond = it's showing responded time so many times cause of losing bid could be this feature.
min_bid, max_bid = These are the important feature as highest bid gonna win.
sum_winning_bid, sum_2nd_highest_bid = these are important dependent feature(should not use in training)
bidder, device, ad_unit, browser_name, os_name, size = it's important feature as final win very much depends directly or indirectly like browser_name, os_name, size, ad_unit show their demands according to that bid price could fluctuate and also got idea of competitors.
date_hour also can contribute if we'll use timeseries model(not for logistic model).

Part 2: Based on the following results from a logistic regression model  trained on the dataset, interpret the coefficients:
bid_amount: Coefficient = 0.8
time_to_bid: Coefficient = -0.4
ad_unit_A: Coefficient = 0.3 (reference category: ad_unit_B)

Answer:
bid_amount: Coefficient = 0.8
It's showing positive coefficient means if bid_amount will increse then probability of wining the bid also increases.
time_to_bid: Coefficient = -0.4
It's showing negative coefficient means if time_to_bid will increase then probability of winning the bid decreases basically bit lesser probabiltity to win.
ad_unit_A: Coefficient = 0.3
It's showing positive coefficient and it's categorical feature means when auction is in ad_unit_A, log-odds of win increase by 0.3 compared to ad_unit_B, keeping other features same.